.App {
  text-align: center;
}

.App-logo {
  padding-top: 50px;
  height: 30vmin;
  pointer-events: none;
}


.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainhdr {
  font-size: 150px;
  font-family:sans-serif
}

.hdr {
  font-size: 40px;
  font-family:sans-serif
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
